/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.pnp.*
.DS_Store
.idea
/.fleet
/.vscode
/.phpunit.cache
/storage/logs/*.log
/storage/framework/cache/*.php
/storage/framework/sessions/*.php
/storage/framework/views/*.php
/public/hot
/public/build
.env.backup
